body {
    background-color: rgb(226, 226, 226);
    margin: 15px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#search-student, #search-courses {
    border-radius: 8px;
    border: solid 1px black;
}

#students, #courses {
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    border: solid 1px black;
    background-color: white;
}

#resTeacher {
    margin: 5px;
    border-radius: 8px;
    border: solid 1px black;
    background-color: salmon;
    height: fit-content;
}

#resTeacher > h2 {
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

#teachers {
    display: flex;
    flex-direction: row;
}

.results {
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 8px;
}

#teachers > h4 {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px black;
    font-size: 15px;
}

#studentcourses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

header {
    font-size: 25px;
    margin-top: 10px;
    padding-top: 5px;
}

h4 {
    font-size: 20px;
}

#courses {
    display: flex;
    flex-wrap: wrap;
    margin: 9px;
    padding: 9px;
}

#courses > div > h3 {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

#courses > div > p {
    margin: 4px;
    padding: 0px;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
}

#courses > div {
    text-align: center;
}

.done {
    border: solid 1px black;
    border-radius: 4px;
    padding: 6px;
    margin: 6px;
    background-color: rgba(199, 255, 236, 0.747);
}

.notdone {
    border: solid 1px grey;
    border-radius: 4px;
    padding: 6px;
    margin: 6px;
    opacity: 50%;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

